body {
    background-color: #173441;
    font-family: "Raleway", sans-serif;
    color: #FDFEF7;

}

header {
    background-color: #0c1b22;
    position: sticky;
    top: 0;
    width: 100%;
}

section {
    background-color: #3E6170;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    border-radius: 20px;
    margin: 2rem;
    scroll-margin-top: 60px;

}
section li{
    margin-bottom: 1rem;
}

footer {
    display: flex;
    margin-top: 10px;
    padding: 0.8rem;
    padding-top: 1.5rem;
    background-color: #333333;
    justify-content: space-between;
    align-items: end;
}

footer p {
    margin: 0;
}

.foto {
    border-radius: 50%;
    width: 250px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.border-box {
    border: solid 1px white;
    padding: 20px;
    margin: 50px;

}

.section_alt {
    background-color: #173441;
}    

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

